@model List<EF_CODEFIRST.Models.Book>
@{
    ViewData["Title"] = "Index";
}

<h1>Kitap Sayfası</h1>

<a asp-action="Create">Yeni Kitap Ekle</a>
<table class="table table-dark fs-1" style="width: 60%;">
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>IsDeleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (@item.IsDeleted==true)
            {
            <tr style="background-color: red;">
                <td>@item.BookId</td>
                <td>@item.BookName</td>
                <td>@item.IsDeleted</td>
     

                <td class="w-50"><a class="btn btn-sm btn-success " asp-action="Details" asp-route-id="@item.BookId">Detaylar</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.BookId">Düzenle</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Sil</a></td>
            </tr>
            }
            else
            {
            <tr>
                <td>@item.BookId</td>
                <td>@item.BookName</td>
                <td>@item.IsDeleted</td>
     

                <td class="w-50"><a class="btn btn-sm btn-success " asp-action="Details" asp-route-id="@item.BookId">Detaylar</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.BookId">Düzenle</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Sil</a></td>
            </tr>
            }
           
        }
    </tbody>
</table>