@model List<EF_CODEFIRST.Models.Member>;
@{
    ViewData["Title"] = "Index";
}

<h1>Üyeler Sayfası</h1>

<a asp-action="Create">Yeni Üye Ekle</a>
<table class="table table-dark fs-1" style="width: 70%;">
    <thead>
        <tr>
            <th>Member Id</th>
            <th>Member Name</th>
            <th>Member Surname</th>
             <th>Member Mail</th>
             <th>Member IsDeleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (@item.IsDeleted==true)
            {
            <tr style="background-color: red;">
                <td>@item.MemberId</td>
                <td>@item.MemberName</td>
                <td>@item.MemberSurname</td>
                <td>@item.MemberMail</td>
                <td>@item.IsDeleted</td>
                <td class="w-50"><a class="btn btn-sm btn-success " asp-action="Details" asp-route-id="@item.MemberId">Detaylar</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.MemberId">Düzenle</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.MemberId">Sil</a></td>
            </tr>
            }
            else
            {
            <tr>
                <td>@item.MemberId</td>
                <td>@item.MemberName</td>
                <td>@item.MemberSurname</td>
                <td>@item.MemberMail</td>
                <td>@item.IsDeleted</td>
                <td class="w-50"><a class="btn btn-sm btn-success " asp-action="Details" asp-route-id="@item.MemberId">Detaylar</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.MemberId">Düzenle</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.MemberId">Sil</a></td>
            </tr>
            }
           
        }
    </tbody>
</table>

