@model List<EF_CODEFIRST.Models.Category>;
@{
    ViewData["Title"] = "Index";
}

<h1>Category Sayfası</h1>

<a asp-action="Create">Yeni Kategori Ekle</a>
<table class="table table-dark fs-1" style="width: 60%;">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Category Description</th>
             <th>Category İsDeleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (@item.IsDeleted==true)
            {
            <tr style="background-color: red;">
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.IsDeleted</td>

                <td class="w-50"><a class="btn btn-sm btn-success " asp-action="Details" asp-route-id="@item.CategoryId">Detaylar</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.CategoryId">Düzenle</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Sil</a></td>
            </tr>
            }
            else
            {
                 <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.IsDeleted</td>

                <td class="w-50"><a class="btn btn-sm btn-success " asp-action="Details" asp-route-id="@item.CategoryId">Detaylar</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.CategoryId">Düzenle</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Sil</a></td>
            </tr>
            }
           
        }
    </tbody>
</table>